---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewh2ort" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1>My Astro Site</h1>
        <h2>My first Astro site!</h2>
         
		<div class="about-me">
			<h1>About Me</h1>
			<p>Hi, I'm a data analyst and machine learning engineer with a passion for using data to drive insights and solve complex problems. My educational background includes a Bachelor's degree in Computer Science and Mathematics, where I gained a strong foundation in data structures, algorithms, and mathematical modeling. </p>
			<p>In addition to my formal education, I am also a self-taught programmer and have spent countless hours learning and exploring the world of data science and machine learning. I am proficient in Python, and have extensive experience working with popular libraries such as NumPy, Pandas, TensorFlow, and scikit-learn. </p>
			<p>I have worked on various projects in the field, ranging from predictive modeling and data visualization to natural language processing and computer vision. My goal is to continuously expand my knowledge and skills in the field, and apply my expertise to real-world problems that can have a positive impact on society.</p>
			<p>When I'm not working, you can find me reading up on the latest advancements in the field, playing video games, or hiking in the great outdoors. </p>
		  </div>
   
	</body> 
	
    <footer>
        <>It's {new Date().toLocaleTimeString()}, {new Date().toLocaleDateString()}.</>
        <p>Powered by <a href="https://astro.build">Astro </a>&copy;</p>
    </footer>
</html>

<style>
	.about-me {
	  font-family: Arial, sans-serif;
	  text-align: center;
	  margin: 40px;
	}
  
	h1 {
	  font-size: 32px;
	  margin-bottom: 24px;
	  
	}
  
	p {
	  font-size: 18px;
	  line-height: 1.5;
	  margin-bottom: 24px;
	}
  </style>