---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewh2ort" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1>My Astro Site</h1>
        <h2>My first Astro site!</h2>



            
            

	</body> 
    <footer>
        <>It's {new Date().toLocaleTimeString()}, {new Date().toLocaleDateString()}.</>
        <p>Powered by <a href="https://astro.build">Astro </a>&copy;</p>
    </footer>
</html>
